<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" target="System.out">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>global-event-processor.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>global-event-processor.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="XMISSION-ERRORS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>global-event-processor-xmission-errors.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>global-event-processor-xmission-errors.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="REQUEST-ERRORS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>global-event-processor-request-errors.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>global-event-processor-request-errors.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="xmission.error" level="debug" additivity="false">
        <appender-ref ref="XMISSION-ERRORS" />
    </logger>

    <logger name="request.error" level="debug" additivity="false">
        <appender-ref ref="REQUEST-ERRORS" />
    </logger>

    <logger name="org.gooru.gep" level="debug" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>


    <root level="info">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
